body {
  font: 400 14px/20px 'Segoe UI';
}
#hoi .content {
   margin-top: 50px;
}
#hoi .panel {
  margin-bottom: 0;
}
#hoi input,
#hoi select {
  width: 100%;
  border: 0;
}
#hoi .toggle {
  margin-bottom: 10px;
}
#hoi .header {
  overflow: auto;
}
#hoi .filters {
  /*overflow: auto;*/
  /*display: none;*/
}
#hoi .filters.active {
  display: block;
}
#hoi.overflow .filter-box,
#hoi.overflow .header-box,
#hoi.overflow .bottom-box {
  width: 7.6%;
  float: left;
}
#hoi .filters,
.filters {
  margin-top: 15px;
  border-top: 1px solid #fff;
}
#hoi .table-head,
.table-head {
  overflow: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#hoi .bottom-content,
.bottom-content  {
  overflow: auto;
  border-top: 1px solid blue;
}
#hoi .au-target .bottom-content + .au-target .bottom-content,
.au-target .bottom-content + .au-target .bottom-content {
  border-top: 1px solid blue;
}
#hoi .header-box,
#hoi .filter-box,
#hoi .bottom-box {
  display: inline-flex;
  min-height: 80px;
  padding: 0 5px;
}
#hoi .header-box + .header-box,
#hoi .filter-box + .filter-box,
#hoi .bottom-box + .bottom-box,
.header-box + .header-box,
.filter-box + .filter-box,
.bottom-box + .bottom-box {
  border-left: 1px solid #fff;
}
#hoi .bottom-box + .bottom-box,
.bottom-box + .bottom-box {
  border-left: 1px solid blue;
}
#hoi .header-box p,
#hoi .filter-box .form-group,
#hoi .bottom-box span {
  display: block;
  margin: auto 0;
  text-align: center;
  width: 100%;
}

#hoi .filter-box .form-group {
  width: 100%;
}
#hoi .input-group-addon {
  border: 0;
}

#hoi .datepicker table {
  color: #333;
}
#hoi div datepicker + datepicker {
  line-height: 37px;
}
/* ============ Fucking OVERFLOW ============= */

#hoi .scrollable {
  overflow: auto;
}
#hoi.overflow .content {
  min-width: 2000px;
}
#hoi .bottom-part,
.bottom-part {
  height: 250px;
  overflow-y: auto;
}


/* If bootstrap */
#hoi .bottom-content div {
  overflow: auto;
  min-height: 80px;
  display: inline-flex;
}
#hoi .bottom-content div + div {
  border-left: 1px solid blue;
}
#hoi .bottom-content div span {
  margin: auto;
}

















